# Entorno virtual de Python
venv/

# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env

# Visual Studio Code
.vscode/

# PyCharm / IntelliJ
.idea/

# Base de datos SQLite
db.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db